@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #555;
}

.calender {
  width: 400px;
  background-color: #fff;
  margin: 7% auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(182, 0, 182);
  color: #fff;
  padding: 10px;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
}

select {
    font-size: 18px;
    padding: 0 8px;
    border: 1px solid rgb(182, 0, 182);
    border-radius: 5px;
    margin: 0 10px;
}

.daysOfWeek {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  padding: 10px;
  text-align: center;
  font-weight: 600;
  color: #fff;
  background-color: rgb(182, 0, 182);
  border-top: 1px solid #fff;
  margin-bottom: 5px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 8px;
}

.day, .empty {
  padding: 10px;
  text-align: center;
  border: 1px solid #777;
  
}

.day:hover {
  color: #fff;
  background-color: rgb(182, 0, 182);
  cursor: pointer;
}

.empty {
  background-color: #e2e2e2;
}

.current {
  background-color: tomato;
  color: #fff;
}

@media (max-width: 768px) {
  .calender {
    margin: 17% auto;
  }
}
